<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">

<title>Twitter Scraper</title>
<h1>Twitter Scraper</h1>

<div style="display:flex;">
    <div style="padding: 9px;">
        {% 
        for x in [
            'Search by',
            'Query',
            '# Tweets to get'
        ] 
        %}

        <label>{{ x }}:</label>
        <br>

        {% endfor %}
        <br>
    </div>
    
    <div>
    
        <form method="POST">
            <select name="type">
                {% for x in 'hashtag user'.split() %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
            <br>
            
            <input type="text" name="query">
            <br>
            
            <input type="number" name="count">
            <br>
    
            <input type="submit">
        </form>

    </div>    
</div>

<textarea>{{ textarea }}</textarea>