<title>Twitter NLP</title>
<h1>Twitter NLP</h1>

<form method="POST">

    <input type="text" name="query">
    <label>Query</label>
    <br>

    <label>Queries by keyword; prefix with 'from:' to query by user</label>
    <br><br>

    <input type="number" name="count">
    <label># Tweets to get</label>
    <br><br>

    <input type="date" name="start">
    <label>Time Range Start</label>
    <br>

    <input type="date" name="end">
    <label>Time Range End</label>
    <br>

    <input type="submit">

</form>
